{
    "archivEngineURL": "",
    "projectID": "",
    "username": "",
    "password": "",
    "targetPath": "",
    "outputPath": "",
    "baseURL": "http://localhost:8080",
    "thumbnailWidth": 124,
    "thumbnailHeight": 192
}