{
    "archivEngineURL": "",
    "projectID": "",
    "username": "",
    "password": "",
    "inputPath": "",
    "outputPath": "",
    "baseUrl": "http://localhost:8080",
    "thumbnailWidth": 124,
    "thumbnailHeight": 192
}
